@model MyFace.Models.View.PostsViewModel

@{
    Layout = "_Layout";
 
}

<h1>MyFace Posts  </h1>

<link rel="stylesheet" type="text/css" href="css/MyFace.css" media="screen" />
<section class="posts-container">
    <div class="posts-menu">
         @Model.Posts.Count() Posts on <script type="text/javascript">let currentDate=new Date();document.write( currentDate.getDate()+"-"+currentDate.getMonth()+"-"+currentDate.getFullYear());</script>
        <a asp-controller="Posts" asp-action="CreatePostPage">Create a new post</a>
    </div>
    @{
        foreach (var post in Model.Posts)
        {
            <article class="post-container">
            <p class="post-author"><b>Posted By:</b> @post.PostedBy.FirstName on @post.PostedBy.LastName @post.PostedAt</p>
            <img src="@post.ImageUrl" />
                       <p class="post-message">@post.Message</p>
            <div class="post-likes">
                <img class="likes-image" src="/Images/like.png">
                <img class="likes-image" src="/Images/dislike.png"/>
            </div>
            </article>
        }
    }
</section>







