@model MyFace.Models.api.UserApiModel
 <div class="userInfo__container">
        <h1>@Model.FirstName @Model.LastName</h1>
        <h2>@Model.Username</h2>
        <p>@Model.Email</p>
        <p>@Model.NumberOfPosts posts</p>
        <p>Last posted: @Model.DateOfLastPost</p>
    </div>


